@import "../../../styles/variables/colors.scss";

.main-navbar {
	height: 60px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: $c-primary;
	color: $white;
}

.logo {
	float: left;
	width: 50px; height: 50px;
	border-radius: 50%;
	background: url(https://randomuser.me/api/portraits/lego/1.jpg) no-repeat;
	background-size: cover;
	margin-top: 5px;
}
.site-name {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 1.6em;
}

.unav {
	float: right;
	padding-top: 10px;
	text-align: right;
	line-height: 1.2;

	li {list-style: none;}

	a {color: $white; text-decoration: underline;}
}

.menu {
	float: right;
	font-size: 0.8rem;
	padding-top: 20px;

	.menu-item {
		text-transform: uppercase;
		border-left: solid 1px $white;
		padding: 0 15px;
		display: inline-block;
		position: relative;
		cursor: pointer;

		&:first-child {
			border: none;
		}

		&.active {
			background-color: darken($c-primary, 10%);
		}
	}
}
