.btn {cursor: pointer;}

.courses-controls {
    overflow: hidden;
    padding: 2px;
    margin-bottom: 20px;

    .courses-filter {float: left;}
    .side {float: right;}
}

.no-courses {
    padding: 30px;
    background: #eee;
    text-align: center;
}

.pager {
    margin: 10px 0;

    button { margin-right: 10px; cursor: pointer; }
    button[disabled] { cursor: default; opacity: .7; }
}
